.index_page{
    padding: 0 7%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;


}

.index_page h1{
margin-bottom: 10px;
text-align: center;
}
.index_page p{
    text-align: center;
}
.index_btn{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

.index_btn button{
    padding: 15px 45px;
    border-radius: 10px;
    background-color: #E4002B;
    color: #fff;
    border: none;
}